@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap");

* {
  font-family: "AR One Sans", sans-serif;
}

body {
  background-color: #282828;
}

header {
  font-size: xx-large;
  background-color: #424449;
  padding: 15px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.menu-row {
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: white;
  text-align: center;
  a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.3rem;
    border: 1px;
    border-radius: 2px;
    border-style: solid;
  }
  a:link {
    color: black;
  }
  a:visited {
    color: black;
  }
  a:hover {
    background-color: rgb(0, 255, 110);
  }
}

.orar {
  color: black;
  background-color: white;
  text-align: center;
  margin-bottom: 30px;
  td {
    padding: 10px;
  }
}

.orar-wrapper {
  display: flex;
  justify-content: center;
}

.prezentare {
  color: white;
  font-size: xx-large;
  padding-top: 3rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  padding: 10px;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
  color: white;
}
.item3 {
  grid-area: main;
  color: white;
  border-bottom: white;
  border-bottom-style: solid;
  padding-bottom: 10px;
}
.item4 {
  grid-area: right;
  color: white;
  padding-left: 10px;
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    background-color: rgb(0, 255, 110);
  }
}
.item5 {
  grid-area: footer;
  color: white;
}

@media only screen and (max-width: 500px) {
  .orar {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .menu-sub-row {
    display: flex;
    flex-direction: column;
    a {
      margin-top: 10px;
    }
  }
}
