@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');

* {
  font-family: 'AR One Sans', sans-serif;
}

body {
  background-color:#282828;
}


header {
  font-size: xx-large;
  background-color: #424449;
  padding: 15px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.menu-row {
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: white;
  text-align: center;
  a {
    text-decoration: none;
    margin-left:  10px;
    margin-right: 10px;
    padding: 0.3rem;
    border: 1px;
    border-radius: 2px;
    border-style: solid;
  }
  a:link {
    color:black;
  }
  a:visited {
    color: black;
  }
}

.orar {
  color: black;
  background-color: white;
  text-align: center;
}

.orar-wrapper {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .orar {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .orar {
    font-size: 10px;
  }
}